:host {
  display: block;
  margin-top: 10px;
  padding: 0 10px;
}

[content] {
  @apply(--layout-flex);
  @apply(--layout-horizontal);
  margin-top: 10px;
}

paper-card {
  background-color: white;
  float: left;
  height: 450px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  width: 33.3%;
}

@media (max-width: 1440px) {
  paper-card {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  paper-card {
    width: 100%;
  }
}

@media (max-width: 767px) {
  paper-card {
    width: 100%;
  }
}

iron-icon {
  color: #0f9d58;
  --iron-icon-width: 144px;
  --iron-icon-height: 144px;
  margin-top: 50px;
}

.workflow-length-label {
  display: block;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.card-content {
  display: table;
  margin: 0px auto;
}

.card-content-table {
  padding: 16px;
  position: relative;
}